<div id="user_bar">
<% if !current_user.nil? %>
  <p>Welcome <%= current_user.name %> (<%= link_to 'log-out', signout_path %>)</p>
  <%=link_to "Send invitation", new_invitation_path%>
<% else %>
  <p>If you have an account, <%= link_to "Log-in", signin_path %></p>
<% end %>
</div>