<div class="bigger_inner_div">
Invite a new user to join
<%= form_for @invitation do |f| %>
  <p>
    <%= f.label :recipient_email %><br />
    <%= f.text_field :recipient_email %>
  </p>
  </p>
  <p><%= f.submit "Invite" %></p>
<% end %>
</div>

